
        <div class="row g-1">
    
            <div class="col-6">
                <h5 class="semester-title">III</h5>
        
                <div class="subject-box"
                    data-nombre="Cálculo II"
                    data-semestre="III"
                    data-codigo="IMA-211" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-121,IMA-122)" 
                    data-material=""
                    data-bibliografia="Thomas G. (2010) Cálculo Varias Variables, México: Pearson Education.; Besada Moráis, M., García Cutrín, F., Mirás Calvo, M., Vázquez Pampín, C., (2012) Cálculo Diferencial en varias Variables, México: Alfaomega.; Smith Robert (2020) Cálculo De Varias Variables Con Trascendentes Tempranas,México: McGraw-Hill Education.">
                    Cálculo II
                </div>
            
                <div class="subject-box"
                    data-nombre="Álgebra II"
                    data-semestre="III"
                    data-codigo="IMA-212" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-122)" 
                    data-material=""
                    data-bibliografia="Lay, D. and Mcdonald, J. (2017) Linear Algebra and Its Applications, Harlow: Pearson Education, Inc.; Schneider, H. and Barker, J. (2012) Matrices and Linear Algebra. Courier Corporation.; Strang, G., & Villagómez, H. (2007) Algebra lineal y sus aplicaciones, México: Thomson.">
                    Álgebra II
                </div>
            
                <div class="subject-box"
                    data-nombre="Física II"
                    data-semestre="III"
                    data-codigo="IMA-213" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-123)" 
                    data-material=""
                    data-bibliografia="Serway, R. A., and Jewett, J. W. (2015) Física para ciencias e ingeniería, volumen II, 9a ed, Colombia: Cengage Learning.; Resnick R., and Halliday D. (2013) Fundamentals of Physics 10a ed,, EE.UU: John Wiley & Sons Inc.; Tipler, M. (2010) Física para la ciencia y la tecnología volumen II, 6a ed., México: Editorial Reverté.">
                    Física II
                </div>
            
                <div class="subject-box"
                    data-nombre="Fundamentos de la Economía II"
                    data-semestre="III"
                    data-codigo="IMA-214" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-124)" 
                    data-material=""
                    data-bibliografia="De Gregorio, J. (2007) Macroeconomía: teoría y políticas, México: Pearson educación.; García de Paso J. (1999) Macroeconomía superior, Madrid: Ediciones Pirámide.; Barro, R. J., Sala-i-Martin, X., Pérez, A. G., Robinson, R. A., and Espínola, J. R. (2018) Crecimiento económico., Barcelona: Reverté.">
                    Fundamentos de la Economía II
                </div>
            
                <div class="subject-box"
                    data-nombre="Computación II"
                    data-semestre="III"
                    data-codigo="IMA-215" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-125)" 
                    data-material=""
                    data-bibliografia="Joyanes, L. (2017) Fundamentos de Programación. Algoritmos, estructura de datos y objetos. Cuarta edición, Madrid: McGraw Hill.; Kong, Q. Siauw, T. Bayen, A. (2020) Python Programming And Numerical Methods: A Guide For Engineers And Scientists, México: Academic Press.; Chazallet, S. (2016) Python 3 - Los fundamentos del lenguaje, Barcelona: Ediciones ENI.">
                    Computación II
                </div>
            
                <div class="subject-box"
                    data-nombre="Inglés III"
                    data-semestre="III"
                    data-codigo="IFG-300" 
                    data-creditos="" 
                    data-requisitos="Requisito (IFG-200)" 
                    data-material=""
                    data-bibliografia="No disponible">
                    Inglés III
                </div>
            </div>
            <div class="col-6">
                <h5 class="semester-title">IV</h5>
        
                <div class="subject-box"
                    data-nombre="Ecuaciones Diferenciales Ordinarias (HITO I)"
                    data-semestre="IV"
                    data-codigo="IMA-221" 
                    data-creditos="" 
                    data-requisitos="Aprobada toda actividad del III semestre" 
                    data-material=""
                    data-bibliografia="Zill, D. G., El-Iraki, A., Cullen, M. R., and García, H. A. E. (2018) Ecuaciones diferenciales con problemas de valores en la frontera, México: Cengage.; Nagle, R. K., Saff, E. B., & Snider, A. D. (2014). Ecuaciones diferenciales y problemas con valores en la frontera, S.l.: Pearson.; Zill, D. G., El-Iraki, A., García, H. A. E., and Filio, L. E. (2018) Ecuaciones diferenciales con aplicaciones de modelado, Ciudad de México: CENGAGE Learning.">
                    Ecuaciones Diferenciales Ordinarias (HITO I)
                </div>
            
                <div class="subject-box"
                    data-nombre="Álgebra III"
                    data-semestre="IV"
                    data-codigo="IMA-222" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-212)" 
                    data-material=""
                    data-bibliografia="Hungerford, T. (2013) Abstract Algebra. An Introduction. 3rd ed. Cengage Learning.; Dummit, D. and Foote, R. (2003) Abstract Algebra, 3rd Edition. Wiley.; Fraleigh, J. (2003) A First Course in Abstract Algebra. 7th ed. Pearson, Upper Saddle River.">
                    Álgebra III
                </div>
            
                <div class="subject-box"
                    data-nombre="Física III"
                    data-semestre="IV"
                    data-codigo="IMA-223" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-213)" 
                    data-material=""
                    data-bibliografia="Serway, R. A., and Jewett, J. W. (2015) Física para ciencias e ingeniería, volumen II, 9a ed, Colombia: Cengage Learning.; Resnick R., and Halliday D. (2013) Fundamentals of Physics 10a ed,, EE.UU: John Wiley & Sons Inc.; Tipler, M. (2010) Física para la ciencia y la tecnología volumen II, 6a ed., México: Editorial Reverté.">
                    Física III
                </div>
            
                <div class="subject-box"
                    data-nombre="Química"
                    data-semestre="IV"
                    data-codigo="IMA-224" 
                    data-creditos="" 
                    data-requisitos="Sin requisito" 
                    data-material=""
                    data-bibliografia="Brown, T. et al. (2013) Química, la Ciencia Central. México: Pearson.; Chang, R. and Goldsby, K. (2017) Química, México: Mc Graw-Hill.; Petrucci, R. et al. (2017) Química General, Madrid: Pearson Educación.">
                    Química
                </div>
            
                <div class="subject-box"
                    data-nombre="Computación III"
                    data-semestre="IV"
                    data-codigo="IMA-225" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-215)" 
                    data-material=""
                    data-bibliografia="Connolly, T. M. and Begg, C. E (2005) Sistemas de bases de datos: Un Enfoque Práctico para Diseño, Implementación y Gestión, 4a Edición, Madrid: Editorial Pearson Education.; Silberschatz, A., Korth, H.F and Sudarshan, S. (2006) Fundamentos de Bases de Datos, 5a Edición, Madrid: Editorial McGraw-Hill.; Ramakrishnan, R. and Gehrke, J. (2007) Sistemas de Gestión de Bases de Datos, 3a Edición, Madrid: Editorial McGraw-Hill. Madrid.">
                    Computación III
                </div>
            
                <div class="subject-box"
                    data-nombre="Inglés IV"
                    data-semestre="IV"
                    data-codigo="IFG-400" 
                    data-creditos="" 
                    data-requisitos="Requisito (IFG-300)" 
                    data-material=""
                    data-bibliografia="No disponible">
                    Inglés IV
                </div>
            </div></div>