
        <div class="row g-1">
    
            <div class="col-6">
                <h5 class="semester-title">I</h5>
        
                <div class="subject-box"
                    data-nombre="Introducción al Cálculo"
                    data-semestre="I"
                    data-codigo="IMA-111" 
                    data-creditos="7 SCT" 
                    data-requisitos="Ingreso" 
                    data-material=""
                    data-bibliografia="Dennis G. Zill and Jacqueline M. Dewar. (2012) Álgebra, trigonometría y geometría analítica, México: McGrawHill.; Apostol T. (1986) Análisis matemático, Barcelona: Reverté.; Bartle, R. G. and Sherbert, D. R. (2003) Introducción al análisis matemático de una variable, México: Limusa.">
                    Introducción al Cálculo
                </div>
            
                <div class="subject-box"
                    data-nombre="Introducción al Álgebra"
                    data-semestre="I"
                    data-codigo="IMA-112" 
                    data-creditos="7 SCT" 
                    data-requisitos="Ingreso" 
                    data-material=""
                    data-bibliografia="Zill, D. Dewar, J (2012) Álgebra, trigonometría y geometría analítica, México: McGrawHill.; Suppes, P. Hill, S. (2013) Introducción a la lógica matemática, México, MX.: Reverte.; Lipschutz, S. (1964) Teoría y problemas de teoría de conjuntos y temas afines, Madrid : McGraw-Hill.">
                    Introducción al Álgebra
                </div>
            
                <div class="subject-box"
                    data-nombre="Geometría"
                    data-semestre="I"
                    data-codigo="IMA-113" 
                    data-creditos="6 SCT" 
                    data-requisitos="Ingreso" 
                    data-material=""
                    data-bibliografia="Aboughantous C. H. (2010) A High School First Course in Euclidean Plane Geometry, Boca Ratón: Universal.; Guerrero, A. (2006) Geometría axiomática, Bogotá: Ecoe Ediciones.; Lehmann, C. H. (1986) Geometría Analítica, México: Limusa.">
                    Geometría
                </div>
            
                <div class="subject-box"
                    data-nombre="Introducción a la Ingeniería Matemática"
                    data-semestre="I"
                    data-codigo="IMA-114" 
                    data-creditos="4 SCT" 
                    data-requisitos="Ingreso" 
                    data-material=""
                    data-bibliografia="González O., and Villamil M. (2013) Introducción a la ingeniería, Colombia: ECOE ediciones.; Wright, P. (2004) Introducción a la ingeniería, México, D.F.: Limusa Wiley.; Hagen, K. (2009) Introducción a la Ingeniería Enfoque en la resolución de problemas, México: Ed.Person.">
                    Introducción a la Ingeniería Matemática
                </div>
            
                <div class="subject-box"
                    data-nombre="Comunicación Oral y Escrita en la Ingeniería Matemática"
                    data-semestre="I"
                    data-codigo="IMA-115" 
                    data-creditos="3 SCT" 
                    data-requisitos="Ingreso" 
                    data-material=""
                    data-bibliografia="Díaz Barriga, R. (2001) Redacción técnica, México: Instituto Politécnico Nacional.; Fonseca, M. (2011) Comunicación oral y escrita, Naucalpan de Juárez: Pearson Educación.; Verderber, R., Fernández, P. J. A., Lama, N. M. A., Soto, J. A., Verderber, K. S., and Sellnow, D. D. (2016) Comunicación oral efectiva en la era digital, México: Cengage Learning.">
                    Comunicación Oral y Escrita en la Ingeniería Matemática
                </div>
            
                <div class="subject-box"
                    data-nombre="Inglés I"
                    data-semestre="I"
                    data-codigo="IFG-100" 
                    data-creditos="3 SCT" 
                    data-requisitos="Ingreso" 
                    data-material=""
                    data-bibliografia="No disponible">
                    Inglés I
                </div>
            </div>
            <div class="col-6">
                <h5 class="semester-title">II</h5>
        
                <div class="subject-box"
                    data-nombre="Cálculo I"
                    data-semestre="II"
                    data-codigo="IMA-121" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-111)" 
                    data-material=""
                    data-bibliografia="Piskunov N. (2004) Cálculo diferencial e integral, México: Limusa‐Noriega Editores.; Bradley G.L., Smith K.J. (1998) Cálculo de una variable, España: Prentice‐Hall.; Apostol TM. (1972) Análisis matemático, España: Editorial Reverté.">
                    Cálculo I
                </div>
            
                <div class="subject-box"
                    data-nombre="Álgebra I"
                    data-semestre="II"
                    data-codigo="IMA-122" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-112)" 
                    data-material=""
                    data-bibliografia="Sullivan, M. (2014) Algebra y trigonometría, México: Pearson Education.; Sigler, L.E. (1981) Algebra, New York: Springer-Verlag.; Lay, D. and Mcdonald, J. (2017) Linear Algebra and Its Applications, Harlow: Pearson Education.">
                    Álgebra I
                </div>
            
                <div class="subject-box"
                    data-nombre="Física I"
                    data-semestre="II"
                    data-codigo="IMA-123" 
                    data-creditos="" 
                    data-requisitos="Requisito (IMA-112)" 
                    data-material=""
                    data-bibliografia="Serway, R. A., and Jewett, J. W. (2015) Física para ciencias e ingeniería, volumen I, 9a ed, Colombia: Cengage Learning.; Resnick R., and Halliday D. (2013) Fundamentals of Physics 10a ed,, EE.UU: John Wiley & Sons Inc.; Tipler, M. (2010) Física para la ciencia y la tecnología volumen I, 6a ed., México: Editorial Reverté.">
                    Física I
                </div>
            
                <div class="subject-box"
                    data-nombre="Fundamentos de Economía I"
                    data-semestre="II"
                    data-codigo="IMA-124" 
                    data-creditos="" 
                    data-requisitos="Sin requisito" 
                    data-material=""
                    data-bibliografia="Nicholson, W., Mercado, G. E. C., and Snyder, C. (2015) Teoría microeconómica: principios básicos y ampliaciones, México, D.F: Cengage Learning.; Varian, H. R. (1998) Análisis microeconómico, Barcelona : Antoni Bosch Editor.; Pindyck, R. S., Rubinfeld, D. L., Rabasco, E. (2013) Microeconomía, Italia: Pearson Italia.">
                    Fundamentos de Economía I
                </div>
            
                <div class="subject-box"
                    data-nombre="Computación I"
                    data-semestre="II"
                    data-codigo="IMA-125" 
                    data-creditos="" 
                    data-requisitos="Sin requisito" 
                    data-material=""
                    data-bibliografia="Joyane, L. (2017) Fundamentos de Programación. Algoritmos, estructura de datos y objetos, Cuarta edición, Madrid: McGraw Hill.; Kong, Q. Siauw, T. Bayen, A. (2020) Python Programming And Numerical Methods: A Guide For Engineers And Scientists, México: Academic Press.; Chazallet, S. (2016) Python 3 - Los fundamentos del lenguaje, Barcelona: Ediciones ENI.">
                    Computación I
                </div>
            
                <div class="subject-box"
                    data-nombre="Inglés II"
                    data-semestre="II"
                    data-codigo="IFG-200" 
                    data-creditos="" 
                    data-requisitos="Requisito (IFG-100)" 
                    data-material=""
                    data-bibliografia="No disponible">
                    Inglés II
                </div>
            </div></div>