<table id="participantsTable" class="table table-striped table-bordered table-hover" style="width:100%">
    <thead class="table-primary">
        <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Sesión</th>
            <th>Institución</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>1</td>
           <td>Rodrigo Gutiérrez Aguilar</td>
           <td>Presidente Comité Organizador</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto:rgutierreza@ucm.cl">rgutierreza@ucm.cl</a></td>
        </tr>
        <tr>
           <td>2</td>
           <td>Víctor Osores Escalona</td>
           <td>Comité Organizador</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto:vosores@ucm.cl">vosores@ucm.cl</a></td>
        </tr>
        <tr>
           <td>3</td>
           <td>Alejandro Rojas Palma</td>
           <td>Comité Organizador</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto: amrojas@ucm.cl"> amrojas@ucm.cl</a></td>
        </tr>
        <tr>
           <td>4</td>
           <td>Danilo Díaz Levicoy</td>
           <td>Comité Organizador</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto:ddiazl@ucm.cl">ddiazl@ucm.cl</a></td>
        </tr>
        <tr>
           <td>5</td>
           <td>Rodrigo del Valle Salamanca</td>
           <td>Comité Organizador</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto:rvalle@ucm.cl">rvalle@ucm.cl</a></td>
        </tr>
        <tr>
           <td>6</td>
           <td>Leidy Lara Díaz</td>
           <td>Comité Organizador</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto:lelara@ucm.cl">lelara@ucm.cl</a></td>
        </tr>
        <tr>
           <td>7</td>
           <td>Diego Maldonado Montiel</td>
           <td>Comité Organizador</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto: dmaldonado@ucm.cl"> dmaldonado@ucm.cl</a></td>
        </tr>
        <tr>
           <td>8</td>
           <td>Moisés Bravo Gaete</td>
           <td>Comité Organizador</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto:mbravo@ucm.cl">mbravo@ucm.cl</a></td>
        </tr>
        <tr>
           <td>9</td>
           <td>Ana de la Maza</td>
           <td>Tesorera JMZS 2025</td>
           <td>Sociedad de Matemática de Chile</td>
           <td><a href="mailto:"></a></td>
        </tr>
        <tr>
           <td>10</td>
           <td>Carolina Marchant Fuentes</td>
           <td> Presidenta Comité Científico</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto:cmarchant@ucm.cl">cmarchant@ucm.cl</a></td>
        </tr>
        <tr>
           <td>11</td>
           <td>Fernando Córdova Lepe</td>
           <td>Comité Científico</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto:fcordova@ucm.cl">fcordova@ucm.cl</a></td>
        </tr>
        <tr>
           <td>12</td>
           <td>David Plaza Muñoz</td>
           <td>Álgebra y geometría</td>
           <td>Universidad de Talca</td>
           <td><a href="mailto:davidricardoplaza@gmail.com">davidricardoplaza@gmail.com</a></td>
        </tr>
        <tr>
           <td>13</td>
           <td>Maximiliano Leyton Álvarez</td>
           <td>Álgebra y geometría</td>
           <td>Universidad de Talca</td>
           <td><a href="mailto: mleyton@utalca.cl"> mleyton@utalca.cl</a></td>
        </tr>
        <tr>
           <td>14</td>
           <td>Martín Ríos-Wilson</td>
           <td>Matemáticas discretas, algoritmos y combinatoria</td>
           <td>Universidad Adolfo Ibáñez</td>
           <td><a href="mailto:martin.rios@uai.cl">martin.rios@uai.cl</a></td>
        </tr>
        <tr>
           <td>15</td>
           <td>Luis Medina Caamaño</td>
           <td>Matemáticas discretas, algoritmos y combinatoria</td>
           <td>Universidad de Antofagasta</td>
           <td><a href="mailto:luis.medina@uantof.cl">luis.medina@uantof.cl</a></td>
        </tr>
        <tr>
           <td>16</td>
           <td>Jaime Andrade Bustos</td>
           <td>Ecuaciones funcionales y sistemas dinámicos</td>
           <td>Universidad del Bío-Bío</td>
           <td><a href="mailto:jandrade@ubiobio.cl">jandrade@ubiobio.cl</a></td>
        </tr>
        <tr>
           <td>17</td>
           <td>Diego Gallardo Mateluna</td>
           <td>Probabilidad y estadística</td>
           <td>Universidad del Bío-Bío</td>
           <td><a href="mailto:dgallardo@ubiobio.cl">dgallardo@ubiobio.cl</a></td>
        </tr>
        <tr>
           <td>18</td>
           <td>Luis Sanchez Melo</td>
           <td>Probabilidad y estadística</td>
           <td>Universidad Austral de Chile</td>
           <td><a href="mailto:luis.sanchez@uach.cl">luis.sanchez@uach.cl</a></td>
        </tr>
        <tr>
           <td>19</td>
           <td>Diana Narváez Naspirán</td>
           <td>Control, problemas inversos y optimización</td>
           <td>Universidad de O’Higgins</td>
           <td><a href="mailto:diana.narvaez@uoh.cl">diana.narvaez@uoh.cl</a></td>
        </tr>
        <tr>
           <td>20</td>
           <td>Ariel Pérez Contreras</td>
           <td>Control, problemas inversos y optimización</td>
           <td>Universidad del Bío-Bío</td>
           <td><a href="mailto:aaperez@ubiobio.cl">aaperez@ubiobio.cl</a></td>
        </tr>
        <tr>
           <td>21</td>
           <td>Gerard Olivar-Tost</td>
           <td>Modelización y aplicaciones de la matemática</td>
           <td>Centro de Investigación en Ecosistemas de la Patagónia</td>
           <td><a href="mailto:gerard.olivar@ciep.cl">gerard.olivar@ciep.cl</a></td>
        </tr>
        <tr>
           <td>22</td>
           <td>Daniel Sepúlveda Oehninger</td>
           <td>Modelización y aplicaciones de la matemática</td>
           <td>Universidad Tecnológica Metropolitana</td>
           <td><a href="mailto:daniel.sepulveda@utem.cl">daniel.sepulveda@utem.cl</a></td>
        </tr>
        <tr>
           <td>23</td>
           <td>Paula Verdugo-Hernández</td>
           <td>Educación y didáctica de la matemática</td>
           <td>Universidad de Talca</td>
           <td><a href="mailto:pauverdugo@utalca.cl">pauverdugo@utalca.cl</a></td>
        </tr>
        <tr>
           <td>24</td>
           <td>Francisco Rodríguez-Alveal</td>
           <td>Educación y didáctica de la matemática</td>
           <td>Universidad del Bío-Bío</td>
           <td><a href="mailto:frodriguez@ubiobio.cl">frodriguez@ubiobio.cl</a></td>
        </tr>
        <tr>
           <td>25</td>
           <td>José González Campos</td>
           <td>Matemática y sociedad</td>
           <td>Universidad Católica del Maule</td>
           <td><a href="mailto:jgonzalezc@ucm.cl">jgonzalezc@ucm.cl</a></td>
        </tr>
        <tr>
           <td>26</td>
           <td>Jessika Camaño Valenzuela</td>
           <td>Métodos, análisis y simulación numérica</td>
           <td>Universidad Católica de la Santísima Concepción</td>
           <td><a href="mailto:jecamano@ucsc.cl">jecamano@ucsc.cl</a></td>
        </tr>
        <tr>
           <td>27</td>
           <td>Ramiro Rebolledo Cormack</td>
           <td>Métodos, análisis y simulación numérica</td>
           <td>Universidad de Concepción</td>
           <td><a href="mailto:ramirorebolledo@udec.cl">ramirorebolledo@udec.cl</a></td>
        </tr>
        <tr>
           <td>28</td>
           <td>Luis Guajardo Rui-Pérez</td>
           <td>Física matemática</td>
           <td>Universidad de Talca</td>
           <td><a href="mailto:luis.guajardo.r@gmail.com">luis.guajardo.r@gmail.com</a></td>
        </tr>
        <tr>
           <td>29</td>
           <td>Daniel Parra Vogel</td>
           <td>Física matemática</td>
           <td>Universidad de la Frontera</td>
           <td><a href="mailto:daniel.parra@ufrontera.cl">daniel.parra@ufrontera.cl</a></td>
        </tr>
    </tbody>
</table>
