{% extends 'jornada/base.html' %}
{% load static %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<section id="cambiar-contrasena" class="py-5">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="card shadow" style="max-width: 500px; width: 100%;">
            <div class="card-body">
                <!-- Logo sobre el título -->
                <div class="text-center mb-3">
                    <img src="{% static 'images/logo_IMA_circ.png' %}" alt="Logo IMA" class="img-fluid mx-auto d-block" style="max-width: 100px;">
                </div>
                <!-- Título -->
                <h1 class="text-center mb-4" style="font-family: 'Helvetica', sans-serif; font-size: 2rem;">
                    Cambiado contraseña de<br><span class="btn btn-warning text-uppercase">{{ academico.nombre }}</span>
                </h1>
                <!-- Formulario de cambio de contraseña -->
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="mb-3">
                        <label for="{{ form.old_password.id_for_label }}" class="form-label">Contraseña actual:</label>
                        {{ form.old_password.errors }}
                        {{ form.old_password }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nueva contraseña:</label>
                        {{ form.new_password1.errors }}
                        {{ form.new_password1 }}
                        <small class="form-text text-muted">
                            <ul class="mb-0" style="padding-left: 1.5rem; text-align: justify;">
                                <li>Tu contraseña no puede ser muy similar a tu información personal.</li>
                                <li>Tu contraseña debe contener al menos 8 caracteres.</li>
                                <li>Tu contraseña no puede ser una contraseña común.</li>
                                <li>Tu contraseña no puede ser enteramente numérica.</li>
                            </ul>                            
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirmación de la nueva contraseña:</label>
                        {{ form.new_password2.errors }}
                        {{ form.new_password2 }}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
