{% extends 'jornada/base.html' %}
{% load static %}

{% block title %}Contraseña Actualizada{% endblock %}

{% block content %}
<section id="cambiar-contrasena-done" class="py-5">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="card shadow" style="max-width: 500px; width: 100%;">
            <div class="card-body text-center">
                <!-- Logo sobre el título -->
                <div class="text-center mb-3">
                    <img src="{% static 'images/logo_IMA_circ.png' %}" alt="Logo IMA" class="img-fluid mx-auto d-block" style="max-width: 100px;">
                </div>
                <!-- Título -->
                <h1 class="mb-4" style="font-family: 'Helvetica', sans-serif; font-size: 2rem;"><span class="btn btn-warning text-uppercase">{{ academico.nombre }}</span><br>¡Contraseña Actualizada!</h1>
                <p class="mb-4">Tu contraseña se ha cambiado correctamente.</p>
                <!-- Botón para volver al perfil -->
                {% if user.is_authenticated and user.academico %}
                    <a href="{% url 'detalle_academico' slug=user.academico.slug %}" class="btn btn-primary w-100">Volver al perfil</a>
                {% else %}
                    <a href="{% url 'portada' %}" class="btn btn-primary w-100">Volver a la Portada</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
